<?xml version="1.0"?>
<robot name="first_robot">
    <!--body-->
    <link name="base_link">
        <visual>
            <!--沿着自己几何中心的偏移和旋转-->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!--几何形状-->
            <geometry>
                <!--圆柱体 半径 高度-->
                <cylinder radius="0.10" length="0.12"/>
            </geometry>
            <!--材质颜色-->
            <material name="white">
                <color rgba="1.0 1.0 1.0 0.5"/>
            </material>
        </visual>
    </link>
    <link name="imu_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.02 0.02 0.02"/>
            </geometry>
            <material name="black">
                <color rgba="0.0 0.0 0.0 0.5"/>
            </material>
        </visual>
    </link>
    <!--机器人关节 用于组合机器人的部件-->
    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0.0 0.0 0.03" rpy="0.0 0.0 0.0"/>
    </joint>
</robot>